@font-face {
    font-family: medieval;
    src: url(fonts/MedievalSharp-Regular.ttf);
}

@font-face {
    font-family: old-cursive;
    src: url(fonts/CedarvilleCursive-Regular.ttf);
}

/* 
    Make body look old

    Citation:

    Accepted Answer to "Old paper background texture with just css"
    Original answer by user "Christophe"
    Answer edited by user "Sebastian Nielsen
    August 27, 2020
    Stack Overflow Answer
    https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css
*/
body {
    margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    border-radius: 1em;
}

/* 
    Black and white images

    Citation:

    John Negoita
    June 6, 2020
    7 CSS Image Effects For Making Awesome Vintage Photos
    Version 1
    CSS Source Code
    https://www.coding-dude.com/wp/css/css-image-effects/

*/
img {
    filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
}

/* Update font to a medieval one */
p {
    font-family: medieval, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: medieval, sans-serif;
}

/* Make first letter of each paragraph bigger */
.chapter p:first-of-type::first-letter {
    font-size: 2em;
}